# Base directory for document roots in the certificates section.
home: /home/user

# Server to use, "letsencrypt" and "letsencrypt:staging" are valid shortcuts.
server: letsencrypt

# E-mail to use for the Let's Encrypt registration. This e-mail will receive
# certificate expiration notices from Let's Encrypt.
email: me@example.com

# Renew a certificate if it is due to expire within so many days.
renew: 30

# List of certificates to issue.
certificates:
    # For each certificate, there are a few options.
    # bits:    Number of bits for the domain private key.
    # domains: Map of document roots to domains. Maps each path to one or multiple
    #          domains. If one domain is given, it's automatically converted to an
    #          array. The first domain will be the common name.
    - bits: 4096
      domains:
        /public_html:
            - example.com
            - www.example.com
        /sub/public_html:
            - sub.example.com
            - www.sub.example.com

# E-mail to notify about errors or certificates issued during the execution.
# Used only when command is called with a "-notify" or "-n" flag.
notify: me@example.com

# CPanel credentials necessary to install the certificates.
# Do not share your configuration file after filling this!
cpanel:
    user: example
    password: secret

# By default certificates will be installed in CPanel for all domains listed above.
# Domains can be filtered by a whitelist of names to accept and/or blacklist to reject.
# The www prefix should be omitted as it is trimmed before installation.
install:
    whitelist:
    blacklist:
        - sub.example.com

# Custom nameserver IP used by the "acme issue" command.
# For example Google public DNS "8.8.8.8" or "8.8.4.4", or Cloudflare 1.1.1.1.
nameserver: false
